
@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf") format("truetype");
} 

@font-face {
    font-family: "Opensans";
    src: url("fonts/Opensans.ttf") format("truetype");
}

body
{
    background-image: url(images/fond_accueil.png);
    background-repeat: repeat;
    background-size: 2000px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.cursor-targetW {cursor: url(images/cursorWhite.png)8 6, default;}
.cursor-targetB {cursor: url(images/cursorBlack.png)8 6, default;}
.cursor-click {cursor: pointer;}
.cursor-impossible {cursor: not-allowed;}


a
{
    color: rgb(0, 115, 192);
    font-weight: bold;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

a:hover
{
	color: rgb(255, 86, 86);
}

a:visited
{
	color: rgb(0, 115, 192);
}

em
{
    color: rgb(0, 115, 192);
    font-weight: bold;
    font-style: initial;
}

strong
{
    font-weight: bold;
}

h1
{
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgb(202, 202, 202);
    margin: 0;
}

h2
{
	text-align: center;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    color: rgb(1, 139, 231);
}

p
{
    text-align: justify;
    word-wrap: break-word;
    margin: 0;
}



input {
    border-radius: 10px;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
    height: 25px;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(255, 255, 255);
}

td {
    width: 30px;
    height: 30px;
}

td:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.418);
}

td img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

/* Modes de Jeu */
.centrerV {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); 
}

#modes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
}

#facile, #facile:hover ~ #normal, #difficile:hover ~ #normal, #difficile {
    animation-name: modes-hover-petit;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

#facile:hover, #normal, #difficile:hover {
    animation-name: modes-hover-grand;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes modes-hover-grand
{
    from {
        width: 200px;
        height: 150px;  
        box-shadow: none;
        border-radius: 0px;
        line-height: 150px;
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0);
    }
    to {    
        z-index: 99;
        width: 280px;
        height: 200px;
        box-shadow: 0px 0px 50px rgb(255, 255, 255);
        border-radius: 10px;
        line-height: 200px;
        font-size: 1.8em;
    }
}

@keyframes modes-hover-petit
{
    from {
        z-index: 99;
        width: 280px;
        height: 200px;
        box-shadow: 0px 0px 50px rgb(255, 255, 255);
        border-radius: 10px;
        line-height: 200px;
        font-size: 1.8em;
    }
    to {   
        width: 200px;
        height: 150px;  
        box-shadow: none;
        border-radius: 0px;
        line-height: 150px;
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0);
    }
}

#facile, #normal, #difficile {
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#facile {
    background-image: url(images/mode_facile.jpg);
    background-size: 200%;
    background-position: 50% 0;
    order:1;
}

#normal {
    background-image: url(images/mode_normal.jpg);
    background-size: 120%;
    order:2;
}

#difficile {
    background-image: url(images/mode_difficile.jpg);
    background-size: 140%;
    order:3;
}

/* Initialisation */

#initialisation {
    width: 300px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    display: none;
    text-align: center;
}

#initialisation div:nth-child(1) {
    width: 100%;
    height: 320px;
    padding: 15px 0 0 0;
}

#initialisation label {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

#regles-texte {
    display: none;
}

#regles-bouton {
    width: 100px;
    height: 50px;
    background-color: rgb(203, 31, 255);
}

#partie {
    display: none;
}

#tours
{
    color:rgb(0, 115, 192);
}

#nomJoueur
{
    color:rgb(0, 115, 192);
}

.case-bateau { 
    background-color: rgb(0, 115, 192);
}

.case-tire {
    background-color: rgb(0, 217, 255);
}

.case-proche {
    background-color: rgb(255, 153, 0);
}

#transition {
    display: none;
    width: 400px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#transition p {
    display: inline-block;
    margin: 30px 0 0 0;
    text-align: center;
}

.bouton {
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: white;
    font-weight: bold;
    background-color: rgb(1, 139, 231);
    border-radius: 0 0 20px 20px;
    border-bottom: 8px solid rgb(13, 18, 22);
    margin-top: -6px;
    text-transform: uppercase;
}

.bouton:hover {
    animation-name: bouton-hover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes bouton-hover
{
    from {
        border-bottom: 8px solid rgb(13, 18, 22);
    }
    to {
        margin-top: 0px;
        border-bottom: 2px solid rgb(13, 18, 22);
    }
}

@keyframes bouton-hover-retour
{
    from {
        border-bottom: 8px solid rgb(13, 18, 22);
    }
    to {
        border-bottom: 2px solid rgb(13, 18, 22);
    }
}

.tips {
    width: 80%;
    line-height: 30px;
    margin: 25px auto;
    color: rgb(74, 179, 250);
    border-radius: 10px;
    background-color: rgb(235, 246, 255);
}

#options {
    display: flex;
    
}

#music-bouton {
    background-image: url(images/bouton_volume_on.svg);
}

#home-bouton {
    background-image: url(images/bouton_volume_on.svg);
}

.bouton-menu {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}