

/* Variables */

:root 
{
    --main-color: 1, 139, 231;
}



/* Parametres classiques */

@font-face 
{
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf") format("truetype");
} 

@font-face 
{
    font-family: "Opensans";
    src: url("fonts/Opensans.ttf") format("truetype");
}

body, html
{
    height: 100%;
}

body
{
    background-image: none ,url(images/fond_accueil.png);
    background-repeat: repeat;    
    background-size: 115px ,cover;    
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

input:focus
{
    outline: none;
}

a
{
    color: rgb(var(--main-color));
    text-decoration: none;

}

a:visited
{
	color: rgb(var(--main-color));
}

em
{
    color: rgb(var(--main-color));
    font-weight: bold;
    font-style: initial;
}

strong
{
    font-weight: bold;
}

h1
{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

h2
{
	text-align: center;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    color: rgb(var(--main-color));
}

h3 
{
	text-align: center;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

p
{
    text-align: justify;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

input 
{
    border-radius: 10px;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185);
    height: 25px;
}

.centrerV 
{
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); 
}





/* Parametrage des curseurs */

.cursor-targetW {cursor: url(images/cursorWhite.png)8 6, default;}
.cursor-targetB {cursor: url(images/cursorBlack.png)8 6, default;}
.cursor-click {cursor: pointer;}
.cursor-impossible {cursor: not-allowed;}
.cursor-wait {cursor: progress;}
.cursor-addBoat {cursor: url(images/cursorBoat.png)8 6, default;}





/* Choix du mode */

#modes, #nbJoueurs
{
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
}

#nbJoueurs
{
    display: none;
}

#facile, #facile:hover ~ #normal, #difficile:hover ~ #normal, #difficile, #solo, #multijoueur
{
    animation-name: modes-hover-petit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#facile:hover, #normal, #difficile:hover, #solo:hover, #multijoueur:hover
{
    animation-name: modes-hover-grand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#facile, #normal, #difficile, #solo, #multijoueur
{
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#facile 
{
    background-image: url(images/mode_facile.jpg);
    background-size: 200%;
    background-position: 50% 0;
    order:1;
}

#normal 
{
    background-image: url(images/mode_normal.jpg);
    background-size: 120%;
    order:2;
}

#difficile 
{
    background-image: url(images/mode_difficile.jpg);
    background-size: 140%;
    order:3;
}

#solo
{
    background-image: url(images/mode_solo.jpg);
    background-size: 140%;
    background-position: 50% 0;
    order:2;
}

#multijoueur 
{
    background-image: url(images/mode_multijoueur.jpg);
    background-size: 140%;
    background-position: 50% 0;
    order:3;
}




/* Animations des modes de jeu */

@keyframes modes-hover-grand
{
    from {
        width: 200px;
        height: 150px;  
        box-shadow: none;
        border-radius: 0px;
        line-height: 150px;
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0);
    }
    to {    
        z-index: 99;
        width: 280px;
        height: 200px;
        box-shadow: 0px 0px 50px rgb(255, 255, 255);
        border-radius: 10px;
        line-height: 200px;
        font-size: 1.8em;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
}

@keyframes modes-hover-petit
{
    from {
        z-index: 99;
        width: 280px;
        height: 200px;
        box-shadow: 0px 0px 50px rgb(255, 255, 255);
        border-radius: 10px;
        line-height: 200px;
        font-size: 1.8em;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    to {   
        width: 200px;
        height: 150px;  
        box-shadow: none;
        border-radius: 0px;
        line-height: 150px;
        font-size: 1.2em;
        color: rgba(255, 255, 255, 0);
    }
}





/* Initialisation (formulaire) */

#initialisation {
    display: none;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
}

#initialisation div:nth-child(1) 
{
    width: 100%;
    height: 320px;
    padding: 15px 0 0 0;
}

#initialisation label 
{
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin: 30px 0 10px 0;
}





/* Affichage de la partie */

#partie, #partie-infos
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#partie-infos 
{
    margin-bottom: 50px;
}

#partie-infos-tours
{
    z-index: 60;
    order: 1;
    width: 400px;
    line-height: 50px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.521);
}

#partie-infos-nomJoueur
{
    z-index:55;
    order: 2;
    width: 200px;
    line-height: 30px;
    background-color: rgb(var(--main-color));
}

#partie td 
{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
}

#partie-plateau td:hover 
{
    position: relative;
    z-index: 50;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
}

td img 
{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

#partie .case-proche,  .case-proche
{
    background-color: rgb(var(--main-color));
}

#partie .case-tire, .case-tire
{
    background-color: rgb(190, 190, 190);
}






/* Fenetre de transition inter-tours */

#transition 
{
    display: none;
    width: 400px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#transition p 
{
    display: inline-block;
    margin: 30px 0 0 0;
    text-align: center;
}


.tips 
{
    width: 80%;
    line-height: 30px;
    margin: 25px auto;
    border-radius: 10px;
    color: rgba(var(--main-color), 0.5);
    background-color: rgba(var(--main-color), 0.1);
}





/* Boutons */

.bouton 
{
    height: 50px;
    width: 100%;
    line-height: 50px;
    color: white;
    font-weight: bold;
    background-color: rgb(var(--main-color));
    border-radius: 0 0 20px 20px;
    border-bottom: 8px solid rgb(13, 18, 22);
    margin-top: -6px;
    text-transform: uppercase;
    animation-name: bouton-retour;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.bouton:hover 
{
    animation-name: bouton-hover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}




/* Animation du bouton */

@keyframes bouton-hover
{
    from {
        border-bottom: 8px solid rgb(13, 18, 22);
    }
    to {
        margin-top: 0px;
        border-bottom: 2px solid rgb(13, 18, 22);
    }
}

@keyframes bouton-retour
{
    from {
        border-bottom: 2px solid rgb(13, 18, 22);
        margin-top: 0px;
    }
    to {
        border-bottom: 8px solid rgb(13, 18, 22);
        margin-top: -6px;
    }
}





/* Boutons d'options en bas à droite de l'écran */

#options 
{
    z-index: 99;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

#options-flex, #menu-boutons
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

#options-flex {height: 210px;}

#menu-boutons {height: 136px; flex-direction: column-reverse;}

#music-bouton 
{
    background-image: url(images/bouton_volume_on.svg);
}

#regles-bouton 
{
    background-image: url(images/bouton_rules.svg);
    order: 1;
}

#home-bouton 
{
    background-image: url(images/bouton_home.svg);
    order: 2;
}

.bouton-menu 
{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}





/* Fenetre des regles */

#regles
{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    animation-name: popup-apparition;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#regles-texte
{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px ;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    list-style: none;
}

#regles table
{
    margin: 10px 50px 10px 55px;
    text-align: justify;
}

#regles td + td
{
    text-indent: 15px;
    line-height: 30px;
}

#regles p 
{
    margin: 20px 50px 20px 50px;
}





/* Animation d'apparition d'une popup */

@keyframes popup-apparition
{
    from {
        display: none;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Footer */

footer 
{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

