body
{
    background-image: url(images/fond_accueil.png);
    background-repeat: repeat;
    background-size: 2000px;
    height: auto;
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
}

.cursor-targetW {cursor: url(images/cursorWhite.png);}
.cursor-targetB {cursor: url(images/cursorBlack.png);}
.cursor-click {cursor: pointer;}


a
{
    color: rgb(0, 115, 192);
    font-weight: bold;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

a:hover
{
	color: rgb(255, 86, 86);
}

a:visited
{
	color: rgb(0, 115, 192);
}

em
{
    color: rgb(0, 115, 192);
    font-weight: bold;
    font-style: initial;
}

strong
{
    font-weight: bold;
}

h1
{
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgb(202, 202, 202);
}

h2
{
    margin: 70px 5% 25px 5%;
	text-align: center;
    font-weight: bold;
    border-bottom: 3px solid rgb(0, 115, 192);
}

h3
{
    margin: 30px 0 15px 5%;
	text-align: left;
    font-weight: bold;
    font-size: 1em;
}

p
{
    text-align: justify;
    word-wrap: break-word;
}

h2 + p
{
    text-indent:30px;
}

h1 + h2
{
    margin-top: -20px;
}

.citation
{
    color: rgb(0, 115, 192);
    font-style: italic;
    margin: 40px 0 20px 0;
    font-size: 1.5em;
}

.important
{
    color: rgb(0, 115, 192);
}

.moins_important
{
    color: rgb(95, 95, 95); 
}

.danger
{
    font-weight: 700;
    color: rgb(253, 43, 43);
}



table {
    border-collapse: collapse;
    border-color: black;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgba(102, 39, 3, 0.521);
}

td:hover {
    background-color: rgba(0, 0, 0, 0.137);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.199);
}

/* Navbarre */

nav
{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.185);
    overflow: hidden;
    display: none;
}

nav h1 {
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    line-height: 100px;
    margin: 0;
}

/* Modes de Jeu */

#index-box {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}

#modes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;;
}

#facile, #facile:hover ~ #intermediaire, #difficile:hover ~ #intermediaire, #difficile {
    width: 100%;
    width: 200px;
    height: 150px;  
    box-shadow: none;
    border-radius: 0;
}

#facile:hover, #intermediaire, #difficile:hover {
    z-index: 99;
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    border-radius: 10px;
}

#facile {
    background-color: rgba(13, 253, 25, 0.301);
    order:1;
}

#intermediaire {
    background-color: rgb(253, 177, 13, 0.301); 
    order:2;
}
#difficile {
    background-color: rgb(253, 13, 13, 0.301);
    order:3;
}

/* Initialisation */

#initialisation {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 50px auto 50px auto;
    border-top: 5px solid rgb(1, 158, 231);
    background-color:rgba(102, 39, 3, 0.521);
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    box-shadow: 0px 0px 50px rgb(255, 255, 255);
    display: none;
    text-align: center;

}

.joueur
{
    padding: 8%;
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 39, 3);
    font-size: 14pt;
}

.bouton1
{
    font-family: Arial, Helvetica, sans-serif;
    color:  rgb(102, 39, 3);
}

.bouton2
{
    margin-top: 10%;
    padding: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color:  rgb(102, 39, 3);
    background-color: rgb(1, 158, 231);
}

#tours
{
    color:rgb(0, 115, 192);
}

#nomJoueur
{
    color:rgb(0, 115, 192);
}